.logo {
    width: 30%;
}
.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 40px 20px;
    background-color: white;
    /* position: fixed;  */
    bottom: 0;
    left: 0;
    width: 100%;
}
.group {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    gap: 8px;
    width: 100%;
}
a {
    text-decoration: none;
    align-self: flex-start;
    color: #677D88;
    font-size: 12px;
}
a:hover {
    color: #59C7FC;
}
h4 {
    color: #303B40;
    margin-bottom: 5px;
    align-self: flex-start;
}